
/* Polices */

/*  Titre : Montserrat
    Corps de texte : Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* Codes couleur */
    --white: #FFFFFF;
    --yellow: #FAB637;
    --red: #FF4848;
    --brown: #CC6119;
    --lightGrey: #ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
    --grey: color: rgb(143, 143, 143)
}

.colorWhite {color:var(--white);}
.colorYellow{color:var(--yellow);}
.colorRed{color:var(--red);}
.colorBrown{color:var(--brown);}
.colorLightGrey{color:var(--lightGrey);}
.colorBlack{color:var(--black);}
.colorBlue{color:var(--blue);}

.bgYellow {background-color: var(--yellow);}
.bgRed {background-color: var(--red);}
.bgBlack {background-color: var(--black);}
.bgblue {background-color: var(--blue);}

body{
    font-size: 1rem;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}


h1, h2, h3{
    margin: 0;
    padding:0;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

em { color: var(--brown); font-style: normal;}

.prix {
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 15px;
    background-color: var(--blue);
    color: var(--white);
    height: 40px;

}

.prixBarre {
    display: block;
    text-decoration: line-through;
    font-size: 0.7em;
    color:var(--black);
}

img{
    width: 100%;
    height: auto;
}

/**   bloc1 - HEADER  **/

    header{
        background-color : var(--black);
        color: var(--white);
        font-weight: bold;
        font-size: 0.7em;
        padding-top: 30px;
        padding-left: 20px;
    }

    header #adresse, 
    header #horaires, 
    header #reseaux,
    header nav +img {
        display: none;
    }

    header #entete_titre{
        display: none;
        font-size: 3em;
    }

    header #entete img{ width: 60px; }

    header #btn_burger{
        display: flex;
        justify-content: end;
        padding: 0 10px;}

    header #telephone{
        display: flex;
        font-size: 2em;
    }

    header #telephone #numero{ font-size: 1.5em; }

    header .detail {
        display: flex;
        flex-direction: column;
    }

    header nav { display: none;}

    header ul{
        margin: 0;
        padding: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        background-color: var(--lightGrey);
        color: var(--black);
        font-size: 1.6em;
        right: 0;
        top: 100px;
        width:50%
    }

    header li{ padding: 10px; }

    header li:hover{
        background-color: var(--yellow);
        color: white;
        opacity: 1;
    }

    header #mainTitre{ 
        font-size: 3em;
        padding-top: 50px;
        padding-bottom: 30px;
    }

/**   Bloc 2 : Presentation  **/

    #presentation{
        padding: 50px;
        display: grid;
        gap: 30px;
    }

    #presentation img{
        width: 100%;
        height: auto;
    }

    #presentation h1{
        font-size: 1.5em;
    }

    #presentation p{
        font-size: 0.8em;
        font-weight: lighter;
        color: var(--black);
        line-height: 20px;
    }

    #presentation strong{ font-weight: 700; }

    #presentation hr{
        margin: 30px 0;
        color: var(--lightGrey);
        opacity: 0.3;
    }


    #presentation ul{
        list-style-image: url("/images/check.png");
        line-height: 30px;;
    }

    #presentation li{
        font-size: 1.2em;
        font-weight: 300;
    }

/* bloc3 : vente location */
    #venteLocation{
        position: relative;
        background-image: url('/images/vente-location.jpg');
        background-size: cover;
        padding-top:60px;
    }

    #venteLocation #boiteTexte{
        display: grid;
        gap:30px;
    }

    #venteLocation #boiteTexte div{
        padding: 100px;
        line-height: 15px;
        color: var(--white);
        background-color: var(--red);
    }

    #venteLocation #boiteTexte div:first-child{ background-color: var(--yellow);}

    #venteLocation #boiteTexte div h2 {color:var(--black);}

    #venteLocation #boiteTexte p {
        font-size: small;
    }

    #venteLocation #modelesVoitures{
        padding: 20px;
        background-color: var(--black);
        
    }

    #venteLocation #modelesVoitures h2{
        text-align: center;
        padding-bottom: 20px;;
        font-size: 3em;
        color: var(--white);
    }

    #venteLocation #listeVoitures{
        display: grid;
        gap:30px;
        border-top: 3px solid var(--brown);
        padding-top: 30px;
        height: 400px;
        overflow-y: auto;
    }

    #venteLocation #listeVoitures > div{
        display: grid;
        gap: 20px;
    }

    #venteLocation #listeVoitures > div > div{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
        justify-content: space-around;
        background-color: rgb(55,60,63);
        color: var(--white);
        height: 100px;
    }

    #venteLocation #listeVoitures > div > div p{
        margin: 0 10px;
    }

/* bloc4 : contactez nous */
    #contacterNous{
        padding: 50px;
    }

    #contacterNous h2{
        padding-bottom: 100px;;
        font-size: 2em;
        text-align: center;
    }

    #contacterNous img{
        width: 60px;
        justify-self: right;
    }

    #contacterNous > div > div{
        display: grid;
        grid-template-columns: 70px 60%;
        justify-content: center;
        gap: 30px;
    }

    #contacterNous > div > div p{
        color: var(--grey)
    }

    #contacterNous button{
        display: block;
        margin: 40px auto;
        width: 250px;
        height: 40px;
        border: none;
        border-radius: 5px;;
        background-color: var(--blue);
        color: var(--white);
        font-weight:bolder;
        font-size: 1.2em;
    }

/** bloc5 : footer **/

    footer {
        background-image: url("/images/vehicule3.jpg");
        background-size: cover;
        background-position: 45% top;
        color: var(--white);
        font-size: 1.1em;
    }

    footer article {
        position: relative;
        padding: 40px;
        top: 100px;
        opacity: 0.9;
        background-color: var(--yellow);
        color: var(--white);
    }

    footer article h2 { font-size: 2em; }
    footer article h2:first-child {color: var(--black);}

    footer article p { color:var(--black); }

    footer #bottomFooter{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 150px;
        color: var(--white);
        background-color: var(--black);
        padding: 20px;
    }

    footer #bottomFooter div{
        padding-bottom: 30px;;
    }

    footer #bottomFooter div:first-child span{
        color: var(--blue);
    }

    footer #bottomFooter p{
        color: grey;
        line-height: 20px;
        font-size: 1.1em;
    }

    footer #newsletter form {
        display: grid;
        grid-template-columns: 1fr 50px;
        margin-top: 20px;
        height: 50px;
    }

    footer #newsletter form button,
    footer #newsletter form input
    { border: none; padding: 0;}

    footer #newsletter img{
        height: 100%;
    }

    footer #newsletter p { margin-top: 5px;}


/*********************/
/**   MEDIA SCREEN  **/
/*********************/

@media screen and (min-width: 768px) 
{   
    body {
        padding: 0 40px;
    }

    /**   HEADER  **/

        header {
            padding-top: 0;
            padding-left: 0;
        }

        header #entete{
            padding-left: 10px;;
            display: flex; 
            justify-content: center; 
            align-items: start;
            height: 100px;
        }

        header #entete img{ width: 40px; }
        header #entete>div{ padding: 30px; }

        header #entete_titre{
            display: block;
            align-self: center;
        }

        header #btn_burger{ display: none; }

        header img{
            width: 100%;
            height: auto;
        }

        header #adresse { display: flex; }

        header #horaires, header #reseaux{ display: block; }

        header #telephone{ font-size: 1em; }

        header #reseaux{display: flex;}
        
        header nav {display: block;}

        header ul{
            flex-direction: row;
            justify-content: end;
            padding-right: 50px;
            font-size: 1.2em;
            width: 100%;
            opacity: 0.8;
            font-weight: 600;
        }
        
        header nav +img { display: block; }

        header #mainTitre{
            padding-left: 10px;
            padding-top: 15px;
        }

/**   Bloc 2 : Presentation  **/

    #presentation{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

/**   Bloc 3 : Vente Location  **/
    #venteLocation #boiteTexte{
        grid-template-columns: 40% 40%; 
        grid-template-rows: max-content;
        gap: 20px;
        justify-content: center;
    }

    #venteLocation #boiteTexte>div{
        padding: 40px;
        margin-bottom: 200px;
    }

    #venteLocation #modelesVoitures{
        padding: 60px 150px;
    }

    #venteLocation #listeVoitures{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        overflow-y:auto;
    }

    #venteLocation #listeVoitures > div > div{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: small;
    }

/** Bloc 4 : Contactez nous **/

    #contacterNous > div{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        width: 70%;
        font-size: small;
        margin: auto;
    }

/** bloc5 : footer **/

    footer article {
        padding: 40px;
        width: 35%;
        top: 60px;
        left: 10%;
        opacity: 0.9;
    }

    footer #bottomFooter{
        flex-direction: row;
        position: relative;
        top: 140px;
    }

    footer #bottomFooter div:first {
        color: red;
    }
}

@media screen and (min-width: 992px) {
    header #mainTitre{ 
        padding-left: 15%;
    }
}

@media screen and (min-width: 1200px){
    /** Bloc 4 : Contactez nous **/

    #contacterNous > div{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
        width: 80%;
        font-size: small;
        margin: auto;
    }
}
