/* Polices */

/*  Titre : Montserrat
    Corps de texte : Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');



:root{
    /* Codes couleur */
    --white: #FFFFFF;
    --yellow: #FAB637;
    --red: #FF4848;
    --brown: #CC6119;
    --lightGrey: #ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
}

.colorWhite {color:var(--white);}
.colorYellow{color:var(--yellow);}
.colorRed{color:var(--red);}
.colorBrown{color:var(--brown);}
.colorLightGrey{color:var(--lightGrey);}
.colorBlack{color:var(--black);}
.colorBlue{color:var(--blue);}

.bgBlack{background-color: var(--black);}
.bgBrown{background-color: var(--brown);}

.fontTitre{ font-family: 'Montserrat',Arial, Helvetica, sans-serif;}
.fontTexte{ font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;}

body{
    font-size: 1rem;
}

header #adresse, header #horaires, header #reseaux{
        display: none;
}

header #entete_titre{
    display: none;
}

@media screen and (min-width: 768px) {

    header #entete{
        display: flex; 
        justify-content: center; 
        align-items: start;
    }

    header #entete img{
        width: 40px;
    }

    header #entete>div{
        padding: 30px;
    }

    header #entete_titre{
        display: block;
        align-self: center;
    }

    header #btn_burger{
        display: none;
    }

    header img{
        width: 100%;
        height: auto;
    }

    header #adresse, header #telephone{
        display: flex;
    }

    header #horaires, header #reseaux{
        display: block;
    }
}