
/* Polices */

/*  Titre : Montserrat
    Corps de texte : Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    /* Codes couleur */
    --white: #FFFFFF;
    --yellow: #FAB637;
    --red: #FF4848;
    --brown: #CC6119;
    --lightGrey: #ECEFF3;
    --black: #232628;
    --blue: #6C98E1;
}

.colorWhite {color:var(--white);}
.colorYellow{color:var(--yellow);}
.colorRed{color:var(--red);}
.colorBrown{color:var(--brown);}
.colorLightGrey{color:var(--lightGrey);}
.colorBlack{color:var(--black);}
.colorBlue{color:var(--blue);}

.bgYellow {background-color: var(--yellow);}
.bgRed {background-color: var(--red);}
.bgBlack {background-color: var(--black);}
.bgblue {background-color: var(--blue);}

body{
    font-size: 1rem;
    font-family: 'Open Sans', Verdana, Tahoma, sans-serif;
}

.prix {
    display:flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 0 15px;
    background-color: var(--blue);
    color: var(--white);
    height: 40px;

}

.prixBarre {
    display: block;
    text-decoration: line-through;
    font-size: 0.7em;
    color:var(--black);
}

img{
    width: 100%;
    height: auto;
}

h1, h2{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',Arial, Helvetica, sans-serif;
}

/**   HEADER  **/

    header{
        background-color : var(--black);
        color: var(--white);
        font-weight: bold;
        font-size: 0.7em;
        padding-top: 30px;
        padding-left: 20px;
    }

    header #adresse, 
    header #horaires, 
    header #reseaux,
    header nav +img {
        display: none;
    }

    header #entete_titre{
        display: none;
        font-size: 3em;
    }

    header #entete img{ width: 60px; }

    header #btn_burger{
        display: flex;
        justify-content: end;
        padding: 0 10px;}

    header #telephone{
        display: flex;
        font-size: 2em;
    }

    header #telephone #numero{ font-size: 1.5em; }

    header .detail {
        display: flex;
        flex-direction: column;
    }

    header nav { display: none;}

    header ul{
        margin: 0;
        padding: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        background-color: var(--lightGrey);
        color: var(--black);
        font-size: 1.6em;
        right: 0;
        top: 100px;
        width:50%
    }

    header li{ padding: 10px; }

    header li:hover{
        background-color: var(--yellow);
        color: white;
        opacity: 1;
    }

    header #mainTitre{ 
        font-size: 4em;
        padding-top: 50px;
        padding-bottom: 30px;
    }

/**   Bloc 2 : Presentation  **/

#presentation{
    padding: 50px;
    display: grid;
    gap: 30px;
}

#presentation h1{ font-size: 1.5em; }

#presentation p{
    font-size: 0.8em;
    font-weight: lighter;
    color: var(--black);
    line-height: 20px;
}

#presentation strong{ font-weight: 700; }

#presentation hr{
    margin: 30px 0;
    color: var(--lightGrey);
    opacity: 0.3;
}

#presentation ul{
    list-style-image: url("/images/check.png");
    line-height: 30px;;
}

#presentation li{
    font-size: 1.2em;
    font-weight: 300;
}

/**   Bloc 3 : Vente Location  **/
#venteLocation{
    position: relative;
    background-image: url('/images/vente-location.jpg');
    background-size: cover;
    padding-top:60px;
}

#venteLocation #boiteTexte{
    display: grid;
    gap:30px;
}

#venteLocation #boiteTexte>div{
    padding: 100px;
    line-height: 15px;;
}

#venteLocation #boiteTexte p {
    font-size: small;
}

#venteLocation #modelesVoitures{
    padding: 20px;
    background-color: var(--black);
    height: 550px;
    overflow-y: auto;
}

#venteLocation #modelesVoitures h2{
    text-align: center;
    padding-bottom: 20px;;
    font-size: 3em;
    color: var(--white);
}

#venteLocation #listeVoitures{
    display: grid;
    gap:30px;
    border-top: 3px solid var(--brown);
    padding-top: 30px;
}

#venteLocation #listeVoitures > div{
    display: grid;
    gap: 20px;
}

#venteLocation #listeVoitures > div > div{
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    justify-content: space-around;
    background-color: rgb(55,60,63);
    color: var(--white);
    height: 100px;
}

#venteLocation #listeVoitures > div > div p{
    margin: 0 10px;
}

/*********************/
/**   MEDIA SCREEN  **/
/*********************/

@media screen and (min-width: 768px) {   

    /**   HEADER  **/

    header {
        padding-top: 0;
        padding-left: 0;
    }

    header #entete{
        padding-left: 10px;;
        display: flex; 
        justify-content: center; 
        align-items: start;
        height: 100px;
    }

    header #entete img{ width: 40px; }
    header #entete>div{ padding: 30px; }

    header #entete_titre{
        display: block;
        align-self: center;
    }

    header #btn_burger{ display: none; }

    header img{
        width: 100%;
        height: auto;
    }

    header #adresse { display: flex; }

    header #horaires, header #reseaux{ display: block; }

    header #telephone{ font-size: 1em; }

    header #reseaux{display: flex;}
    
    header nav {display: block;}

    header ul{
        flex-direction: row;
        justify-content: end;
        padding-right: 50px;
        font-size: 1.2em;
        width: 100%;
        opacity: 0.8;
        font-weight: 600;
    }
    
    header nav +img { display: block; }

    header #mainTitre{ 
        font-size: 3em;
        padding-left: 10px;
        padding-top: 15px;
    }

/**   Bloc 2 : Presentation  **/

    #presentation{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

/**   Bloc 3 : Vente Location  **/
#venteLocation #boiteTexte{
    grid-template-columns: 40% 40%; 
    grid-template-rows: max-content;
    gap: 20px;
    justify-content: center;
}

#venteLocation #boiteTexte>div{
    padding: 40px;
    margin-bottom: 200px;
}

#venteLocation #modelesVoitures{
    padding: 60px 150px;
}

#venteLocation #listeVoitures{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    overflow-y:auto;
}

#venteLocation #listeVoitures > div > div{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: small;
}

}
@media screen and (min-width: 992px) {
    header #mainTitre{ 
        font-size: 3em;
        padding-left: 15%;
    }
}
