header{padding-bottom: 30px;}

header #entete_titre{
    position: absolute;
    display: block;
    padding: 10px;
}
#backgroundImage{position: relative; width: 100%; }

#backgroundImage h1 {
    position: absolute;
    top: 30%;
    margin: 20px;
    color: var(--white);
    font-size: 2.5em;
    font-weight: 600;
}

#contentPage{
    margin: 0 20px;
    font-size: small;
}

#contentPage input,
#contentPage select{
    height: 40px;
    padding-left: 20px;
    background-color: var(--lightGrey);
    border: none;
    color: var(--grey);
}

/** sectionRecherche **/

    #sectionRecherche{
        display: flex;
        flex-direction: column;
        margin:auto;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
    }
    
    #sectionRecherche {
        position: relative;
        top: -40px;

        background-color: var(--white);
    }

    #sectionRecherche #header{
        margin-bottom: 20px;;
        display: grid;
        grid-template-columns: 30% 70%;
        justify-items: left;
        align-items: center;
        padding: 20px 0;;
        background-color: var(--black);
        color: var(--white);
        gap: 20px;
        height: 70px;
    }

    #sectionRecherche #header img{
        width: 50px;
        justify-self: right;
    }

    #sectionRecherche #formRecherche{
        display: grid;
        grid-template-columns: 80%;
        justify-content: center;
        gap:20px;
    }

    #sectionRecherche label{
        position: relative;
        top: 15px;
        font-size: 1.3em;
        font-weight: 600;
    }

    #sectionRecherche #prixMinMax {
        display: grid;
        gap: 20px;
    }

    #sectionRecherche #prixMinMax input{
        text-align: center;
    }

    #sectionRecherche .button{
        height: 50px;
        margin: 50px 0 50px 0;
    }

/*  sectionListeVehicule */
    #sectionListeVehicule{
        display: grid;
        gap:40px;
        color: var(--grey);
    }

    #sectionListeVehicule label{ display: none;}

    #sectionListeVehicule select{ width: 50%}

    #sectionListeVehicule .ficheProduit{
        padding-top: 30px;;
        border-top: 2px solid var(--lightGrey);
    }

    #sectionListeVehicule .ficheProduit img {width: 100%; height: auto;}

    #sectionListeVehicule .ficheProduit button{
        position: absolute; 
        top: -55px;
        right: 0;
        width: 130px;
        height: 50px;;
        border-radius: 0;
        padding: 10px;
        margin-bottom: 5px;
        text-align: right;
        font-size: x-large;
    }

    #sectionListeVehicule .ficheProduit .description h3 {
        font-size: 2em;
        font-weight:600;
        margin: 15px 0;
        color: var(--black);
        margin-top: 0;
    }

    #sectionListeVehicule .ficheProduit .description p{
        color: var(--grey);
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.5em;
    }

    #sectionListeVehicule .ficheProduit a{
        color: var(--black);
        font-size: 1.3em;
        text-decoration: none;
    }

    #sectionListeVehicule .ficheProduit a:hover{
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.6em;
    }

footer{
    background-image: none;
}

/*************************************************************************
                            MEDIA QUERIES
**************************************************************************/

@media screen and (min-width: 768px) {

    header{padding-bottom: 0;}

    header #entete_titre{
        position: relative;
        padding: 0;
    }
    #backgroundImage{
        position: relative;
        overflow: hidden;
        z-index: -1000;
        height: 180px;
    }
    #backgroundImage img{
        position: relative;
        top:-450px;
    }

    #backgroundImage h1 {
        z-index: 100;
        top: 10%;
        left: 10%;
    }

    #contentPage{
        display: flex;
        flex-direction: row-reverse;
        align-items: start;
        margin: 0 20px;
        margin: 0 15px;

    }
    #contentPage #sectionRecherche{
        margin: 0 20px;
        width: 30%; 
    }
    
    #contentPage #sectionRecherche #formRecherche{gap:10px;}

    #contentPage #sectionRecherche #header{
        height: 30px;
    }

    #contentPage #sectionRecherche #header img{
        width: 35px;
    }

    #sectionRecherche #formRecherche input,
    #sectionRecherche #formRecherche select{
        height: 30px;
    }

    #sectionRecherche label{
        position: relative;
        top: 15px;
    }

    #sectionRecherche #prixMinMax {
        display: grid;
        gap: 10px;
    }

    #sectionRecherche #prixMinMax p{
        text-align: center;
        margin: 0;
        background-color: var(--lightGrey);
        height: 30px;
        line-height: 30px;
        color: var(--grey);
    }

    #sectionRecherche .button{
        height: 35px;
        margin: 30px 0 50px 0;
    }

    #contentPage #sectionListeVehicule{
        width: 60%;
        margin-top:100px;
    }

    /* #contentPage #sectionListeVehicule .description{ position: relative;} */

} /* media 768px */

@media screen and (min-width: 992px) {
    #contentPage #sectionRecherche{
        width: 25%;
        top: -90px;
    }

    #contentPage #sectionRecherche #formRecherche{gap:15px;}

    #contentPage #sectionRecherche #header{
        height: 40px;
        font-size: small;
    }

    #contentPage #sectionRecherche #header img{
        width: 35px;
    }

    #sectionRecherche #formRecherche input,
    #sectionRecherche #formRecherche select{
        height: 40px;
        font-size: small;
    }

    #sectionRecherche label{
        position: relative;
        top: 15px;
        font-size:medium;
    }

    #sectionRecherche #prixMinMax {
        display: grid;
        gap: 20px;
    }

    #sectionRecherche #prixMinMax p{
        text-align: center;
        margin: 0;
        background-color: var(--lightGrey);
        height: 30px;
        line-height: 30px;
        color: var(--grey);
        font-size: medium;
    }

    #sectionRecherche .button{
        height: 45px;
        margin: 30px 0 50px 0;
        font-size: small;
    }

    #contentPage #sectionListeVehicule{
        width: 70%;
        margin-top:100px;
    }

    /** section listevehicule **/

    #sectionListeVehicule label{ display: inline;}
    
    #sectionListeVehicule .ficheProduit img {
        float: left;
        height: 200px; 
        width:auto;
        margin-right: 10px;;
    }

    #sectionListeVehicule .ficheProduit button{
        position: relative;
        float: right;
        top: 0;
        width: 130px;
        height: 50px;;
        border-radius: 0;
        padding: 10px;
        margin-bottom: 5px;
        text-align: right;
        font-size: x-large;
    }
} /* media 992px */